# Build outputs 
*.apk 
*.aab 
*.zip 
*.jar 
bundletool-all.jar 
app-debug.* 
app.zip 
app_extracted/ 
CertificadoApple/
# Certificates 
CertificadoApple/*.p12 
CertificadoApple/*.key 
CertificadoApple/*.cer 
CertificadoApple/*.pem 
# Flutter 
build/ 
.dart_tool/ 
.flutter-plugins 
.flutter-plugins-dependencies 
# IDE 
.idea/ 
.vscode/ 
*.swp 
*.swo 
ChaveFirebase.txt
ChavesApple.txt
# OS 
.DS_Store 
Thumbs.db